@import "tailwindcss";

@theme {
  --color-blue-primary: #0275ff;
  --color-stroke-dark: #2d3135;
  --color-dark-bg: #101214;
  --color-dark-secondary: #1d1f21;
  --color-dark-tertiary: #3b3d40;
  --color-gray-50: #f9fafb;
}

/* DÒNG QUAN TRỌNG NHẤT: Định nghĩa lại biến dark để nhận diện class .dark */
@variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
  @apply bg-white dark:bg-black;
}

/* Ép body đổi màu khi thẻ html có class .dark */
html.dark body {
  @apply bg-dark-bg text-white;
}